<mat-card-title>User login</mat-card-title>
<mat-card-content>
    <form class="example-form" #loginForm="ngForm" (submit)="ProceedLogin(loginForm)">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" required name="username" ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="password" required name="password" type="password" ngModel>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary">Login</button>
            <a mat-raised-button style="margin: 5px" color="accent" (click)="RedirectRegister()">Register</a>
        </div>
    </form>
</mat-card-content>